.vscode
build
dist
unused

### react ###
node_modules
.DS_*
*.log
dist
logs
**/*.backup.*
**/*.back.*

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Clangd
compile_commands.json
.cache