.vscode
build_arm64
build_x86_64
torch_arm64
torch_x86_64
build
dist

### react ###
node_modules
.DS_*
*.log
dist
logs
**/*.backup.*
**/*.back.*

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
libtorch

# Clangd
compile_commands.json
.cache