[submodule "third_party/juce"]
	path = third_party/juce
	url = https://github.com/juce-framework/JUCE.git
    branch = master
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/rodrigodzf/asio.git
    branch = master
[submodule "third_party/kac_core"]
	path = third_party/kac_core
	url = https://github.com/lewiswolf/kac_core
	branch = lightweight
