// var

$background: #fe746e;
$foreground: #2f7df6;
$accent: #eefa5a;
$black: #101010;

// animation

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

// src

html,
body {
	height: 100dvh;
	width: 100dvw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $background;
	user-select: none !important;
}

#root {
	height: calc(100% - 10px);
	width: calc(100% - 302px);
	display: grid;
	align-items: center;
	justify-items: center;
}

.leva-c-hBtFDW {
	height: 230px !important;
}

.leva-c-bDGmTT:first-of-type {
	padding-top: 10px !important;
}

#leva__root {
	user-select: none !important;
}

// .App {
// 	text-align: center;
// }

// .App-logo {
// 	height: 40vmin;
// 	pointer-events: none;

// 	@media (prefers-reduced-motion: no-preference) {
// 		animation: App-logo-spin infinite 20s linear;
// 	}
// }

// .App-header {
// 	background-color: #282c34;
// 	min-height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	font-size: calc(10px + 2vmin);
// 	color: white;
// }

// .App-link {
// 	color: #61dafb;
// }

// children

@import './drum';
