.vertex {
	height: 10px;
	width: 10px;
	position: absolute;
	z-index: 10;
	border-radius: 10px;
	background: radial-gradient(white 0%, $accent 60%);
	cursor: pointer !important;
}

.listener {
	background: radial-gradient(#303030 0%, #101010 50%);
}
