{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "strict",
	"jsxSingleQuote": true,
	"printWidth": 125,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true
}
